# ================================================================================================================================
#                                                                                                                                 
#                                                              ALASES                                                            
#                                                                                                                                                                                                 
#                                                       Update: 2023.01.11                                                      
#                                                                                                                                 
# ================================================================================================================================

# ================================================================================================================================
#                                                            NAVIGATION 
# ================================================================================================================================

alias ~='cd ~'
alias -- -="cd -"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# ================================================================================================================================
#                                                             DIRLIST 
# ================================================================================================================================

alias l='lsd -lah --total-size --group-directories-first' 
alias ls='ls -Fh --color=auto --group-directories-first'
alias ll='ls -alhovqF --color=always --group-directories-first --time-style +"%F %T"'

# ================================================================================================================================
#                                                            BOOKMARKS 
# ================================================================================================================================

alias h='cd $HOME'
alias d='cd ~/desktop'
alias w='cd ~/workspace'

# ================================================================================================================================
#                                                             REPORT 
# ================================================================================================================================

alias cd='cdls'
alias cp='cp -iv'
alias mv='mv -iv'
alias ln='ln -iv'
alias rm='rm -i'
alias rmf='rm -rf'
alias mkdir='mkdir -v'
alias grep='grep --color=auto'
alias fdir='find . -type d -name'

# ================================================================================================================================
#                                                              TMUX 
# ================================================================================================================================

# alias tm='test -z "$TMUX" && (tmux attach || tmux new-session -s "TaoTao")'

# ================================================================================================================================
#                                                            SHORTCUTS 
# ================================================================================================================================

alias e='exit'
alias cat='bat'
alias cl='clear'

# ================================================================================================================================
#                                                            DEVELOPER 
# ================================================================================================================================

alias g='git'
alias python='python3'

# ================================================================================================================================
#                                                              OTHER 
# ================================================================================================================================

# --------------------------------------------------------------------------------------------------------------------------------
#  YANK CLIP
# --------------------------------------------------------------------------------------------------------------------------------

alias yank='yank-cli | xclip -sel c'

# --------------------------------------------------------------------------------------------------------------------------------
# GOOGLE-CHROME
# --------------------------------------------------------------------------------------------------------------------------------

alias chrome="google-chrome --force-dark-mode --proxy-server=socks5://127.0.0.1:1080"

# --------------------------------------------------------------------------------------------------------------------------------
# IP-ADDRESSES
# --------------------------------------------------------------------------------------------------------------------------------

alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# --------------------------------------------------------------------------------------------------------------------------------
# WINDOWS
# --------------------------------------------------------------------------------------------------------------------------------

alias pbcopy='clip.exe'
# alias pbpaste="powershell.exe -command 'Get-Clipboard' | tr -d '\r' | head -n -1"
alias pbpaste="powershell.exe -command Get-Clipboard | sed '$d' | tr -d '\r'"

# --------------------------------------------------------------------------------------------------------------------------------
# OTHER
# --------------------------------------------------------------------------------------------------------------------------------

alias gif='sxiv -b ' 
alias rss='newsboat'
alias mime='mimeopen -d ' 
alias file='nautilus . &'
alias pdf='zathura --fork'
alias mail='neomutt ; clear'
alias online='you-get -p mpv '
alias mpv='mpv --player-operation-mode=pseudo-gui'
# alias tr='popup-dict'
