#!/usr/bin/env bash
# ================================================================================================================================
#                                                                                                                                 
#                                                             Exports                                                            
#                                                                                                                                                                                                 
#                                                       Update: 2023.01.09                                                      
#                                                                                                                                 
# ================================================================================================================================

# ================================================================================================================================
#                                                       GENERAL - Settings
# ================================================================================================================================

# --------------------------------------------------------------o----------------------------------------------------------------o
# DEFINE NVIM  VARIABLES 
# --------------------------------------------------------------o----------------------------------------------------------------o

export GITHUB="https://hub.nuaa.cf/"
# export GITHUB="https://www.github.com/"

# --------------------------------------------------------------o----------------------------------------------------------------o
# SYSTEM PATH
# --------------------------------------------------------------o----------------------------------------------------------------o

export PATH="$HOME/.bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"

# --------------------------------------------------------------o----------------------------------------------------------------o
# 本地语言环境设定
# --------------------------------------------------------------o----------------------------------------------------------------o

if [ -f "/usr/bin/i3" ]; then
    export LANG="zh_CN.UTF-8"
    export LANGUAGE="zh_CN.UTF-8"
    export LC_CTYPE="zh_CN.UTF-8"
else
    export LC_ALL="en_US.UTF-8"
    export LANG="en_US.UTF-8"
    export LANGUAGE="en_US.UTF-8"
fi

# --------------------------------------------------------------o----------------------------------------------------------------o
# Vmware debian 11
# --------------------------------------------------------------o----------------------------------------------------------------o

# export LIBGL_ALWAYS_INDIRECT=1
# export LIBGL_ALWAYS_SOFTWARE=1
# export MESA_GL_VERSION_OVERRIDE=4.5

# --------------------------------------------------------------o----------------------------------------------------------------o
# TERMINAL 自定义函数-查看当前终端模拟器名称
# --------------------------------------------------------------o----------------------------------------------------------------o

# 默认编辑器设定
export EDITOR="vim"

# 默认文字预览设定
export PAGER="less"

# 多用户历史记录保存及读取
export PROMPT_COMMAND="history -a; history -r;  $PROMPT_COMMAND"    

# TERMINAL 颜色设定
# export TERM="st-256color"
export TERM="xterm-256color"
export GET_TERMINAL_NAME=$(ps -o comm= -p "$(($(ps -o ppid= -p "$(($(ps -o sid= -p "$$")))")))")

# ================================================================================================================================
#                                                        FCITX4 - Settings
# ================================================================================================================================

# export XMODIFIERS="@im=fcitx"
# export GTK_IM_MODULE=fcitx
# export QT_IM_MODULE=fcitx


# ================================================================================================================================
#                                                         FZF - Settings
# ================================================================================================================================

# --------------------------------------------------------------o----------------------------------------------------------------o
# FZF默认功能设定及颜色设定
# --------------------------------------------------------------o----------------------------------------------------------------o

export FZF_TMUX=1
export FZF_TMUX_OPTS="-p 90%,60%"

export FZF_DEFAULT_COMMAND="fd --hidden --follow --type f \
    --exclude .git \
    --exclude boot \
    --exclude lib \
    --exclude lib64 \
    --exclude lost+found \
    --exclude opt \
    --exclude proc \
    --exclude root \
    --exclude run \
    --exclude sbin \
    --exclude srv \
    --exclude sys \
    --exclude tmp \
    --exclude var
"

export FZF_DEFAULT_OPTS="
    --ansi
    --exact
    --multi
    --cycle
    --exit-0
    --reverse
    --no-mouse
    --keep-right
    --height=60%
    --inline-info
    --border=rounded
    --no-separator
    --preview-window=hidden

    --marker='*'
    --pointer='> '
    --prompt='SEARCH: '
    --bind '?:toggle-preview'
    --preview-label=PREVIEW
    --preview 'bat --style=numbers --color=always --line-range :500 {}'

"

export FZF_DEFAULT_OPTS=$FZF_DEFAULT_OPTS"
    --color=fg:#5C6370
    --color=bg:#282C34
    --color=hl:#E06C75
    --color=fg+:#ABB2BF
    --color=bg+:#3E4452
    --color=hl+:#E06C75
    --color=info:#6699CC
    --color=header:#6699CC
    --color=marker:#73D0FF
    --color=prompt:#E06C75
    --color=gutter:#282C34
    --color=pointer:#61AFEF
    --color=spinner:#73D0FF
"

# --------------------------------------------------------------o----------------------------------------------------------------o
# CTRL+T 搜索目录
# --------------------------------------------------------------o----------------------------------------------------------------o

export FZF_CTRL_T_COMMAND="${FZF_DEFAULT_COMMAND}"

# --------------------------------------------------------------o----------------------------------------------------------------o
# CTRL+R 搜索历史命令
# --------------------------------------------------------------o----------------------------------------------------------------o

export FZF_CTRL_R_OPTS="--sort --exact --preview 'echo {}' --height=50% --preview-window down:3:hidden:wrap --bind '?:toggle-preview,Ctrl-j:down,Ctrl-k:up,J:preview-down,K:preview-up'" 

# --------------------------------------------------------------o----------------------------------------------------------------o
# ALT+C 搜索文件夹并cd进入
# --------------------------------------------------------------o----------------------------------------------------------------o

export FZF_ALT_C_COMMAND='fd --hidden --type directory --exclude ".git"'
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"

# ================================================================================================================================
#                                                         NAVI - Settings
# ================================================================================================================================

# --------------------------------------------------------------o----------------------------------------------------------------o
# # Navi - FZF 预览设置
# --------------------------------------------------------------o----------------------------------------------------------------o

export NAVI_FZF_OVERRIDES='--color=fg:#d0d0d0,bg:#282c34,hl:#5f87af --color=fg+:#d0d0d0,bg+:#3d4148,hl+:#5fd7ff --color=info:#e5c07b,prompt:#5f87af,pointer:#e06c75 --color=marker:#5fd7ff,spinner:#e06c75,header:#87afaf --height 30 --margin 1,1 --inline-info --border --preview-window=top:3:wrap'
export NAVI_FZF_OVERRIDES_VAR='--color=fg:#d0d0d0,bg:#282c34,hl:#5f87af --color=fg+:#d0d0d0,bg+:#3d4148,hl+:#5fd7ff --color=info:#e5c07b,prompt:#5f87af,pointer:#e06c75 --color=marker:#5fd7ff,spinner:#e06c75,header:#87afaf --height 20 --margin 1,1 --inline-info --border --preview-window=top'
export NAVI_TAG_COLOR=1
export NAVI_COMMENT_COLOR=5
export NAVI_SNIPPET_COLOR=2
export NAVI_TAG=50
export NAVI_COMMENT_WIDTH=50
export NAVI_FZF_OVERRIDES='--height 30 --margin 1,1 --border --no-sort --layout=reverse'
export NAVI_FZF_OVERRIDES_VAR='--height 30 --margin 1,1 --border'

# ================================================================================================================================
#                                                       RIPGREP - Settings
# ================================================================================================================================

# 指向 REPGREP 配置文件位置
export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

# ================================================================================================================================
#                                                        LESS - Settings
# ================================================================================================================================

export LESS="--RAW-CONTROL-CHARS"
export LESS_TERMCAP_mb=$'\e[1;31m' # Start blinking
export LESS_TERMCAP_md=$'\e[1;34m' # Start bold mode
export LESS_TERMCAP_me=$'\e[0m' # End all mode
export LESS_TERMCAP_so=$'\e[38;5;215m' # Start standout mode
export LESS_TERMCAP_se=$'\e[0m' # End standout mode
export LESS_TERMCAP_us=$'\e[4;35m' # Start underline
export LESS_TERMCAP_ue=$'\e[0m' # End underline

# ================================================================================================================================
#                                                        TLDR - Settings
# ================================================================================================================================

export TLDR_COLOR_NAME="magenta bold underline"
export TLDR_COLOR_DESCRIPTION="white dark"
export TLDR_COLOR_EXAMPLE="blue"
export TLDR_COLOR_COMMAND="red"
export TLDR_COLOR_PARAMETER="white underline dark"
export TLDR_LANGUAGE="en"
export TLDR_CACHE_ENABLED=0
export TLDR_CACHE_MAX_AGE=720
export TLDR_PAGES_SOURCE_LOCATION="file:///home/taotao/.tldr/pages"
export TLDR_DOWNLOAD_CACHE_LOCATION="https://tldr-pages.github.io/assets/tldr.zip"
