# ================================================================================================================================
#                                                                                                                                 
#                                                            GITCONFIG                                                            
#                                                                                                                                                                                                 
#                                                       Update: 2023.01.11                                                      
#                                                                                                                                 
# ================================================================================================================================

[alias]

    a         = add --all
    b         = branch
    s         = status -sb
    ca        = commit --amend --message
    cm        = commit --message
    d         = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
    l         = log --abbrev-commit --decorate --graph --date=format:'%A \t│%Y-%m-%d %H:%M:%S' --format=format:'%C(01)%>(1)%h%C(reset) │ %C(07)%ad%C(reset) │ %C(4)%<(13,trunc)%an%C(reset) │ %C(2)%<(20,trunc)%ar%C(reset) │ %C(1)%<(30,trunc)%d%C(reset) │ %C(bold 7)MESSAGE: %s%C(reset)' --all
    di        = difftool --tool=vimdiff -y
    ds        = difftool --staged --tool=vimdiff -y
    dc        = difftool --cached --tool=vimdiff -y
    dt        = diff --stat
    ll        = log --numstat --decorate --graph --date=format:'%Y-%m-%d %H:%M:%S' --format=format:'%C(1)%><(40,trunc) ❚ %H ❚  %C(4) [%cn] %C(reset) ❚  %C(reset) %C(8)%ad%C(reset) ❚  %C(reset) %C(8)%s%C(reset)  ❚  '

# ================================================================================================================================

[user]

    email     = hantaotaohan@gmail.com 
    name      = hantaotaohan

[core]

    editor    = vim
    quotepath = false
    autocrlf  = false
    pager     = delta --diff-so-fancy  --wrap-max-lines 1 --max-line-length=$((COLUMNS - 10))
	quotepath = false

[pull]

    rebase    = false

[log]

    date      = format:%A %Y-%m-%d %H:%M:%S

[merge]

    tool      = diff3

[http]

    sslVerify = false

# ================================================================================================================================

[color]

    ui                   = always
    diff                 = always

[color "diff"]

    meta                 = 3    0 bold
    commit               = 3    0 bold
    frag                 = 5    0 bold
    old                  = 1    0 bold
    new                  = 2    0 bold
    whitespace           = 3    0 reverse

[color "diff-highlight"]

    oldNormal            = 1    0
    oldHighlight         = 255  124
    newNormal            = 2    0
    newHighlight         = 255  28

[color "branch"]

    current              = 3    reverse
    local                = 3
    remote               = 2

[color "status"]

    added                = 2
    changed              = 3
    untracked            = 1


[diff-so-fancy]

    stripLeadingSymbols  = false
    changeHunkIndicators = true
    markEmptyLines       = false
    useUnicodeRuler      = true

# ================================================================================================================================

# [pager]

#     diff = diff-so-fancy | less --tabs=4 -RFX
#     show = diff-so-fancy | less --tabs=4 -RFX

# ================================================================================================================================

[interactive]

    diffFilter   = delta --color-only

[delta]

    features     = space-separated interactive side-by-side onedark
    syntax-theme = base16 

[delta "interactive"]

    keep-plus-minus-markers = false

[delta "onedark"]

    # author: https://github.com/AirOnSkin
    dark = true
    line-numbers = true
    side-by-side = false
    keep-plus-minus-markers = false
    max-line-length = 130
    true-color = always
    syntax-theme = base16
    file-style =  omit bold "#61AFEF"
    file-decoration-style = ul bold "#61AFEF"
    file-added-label = [A]
    file-copied-label = [==]
    file-modified-label = [M]
    file-removed-label = [D]
    file-renamed-label = [->]
    commit-style = box bold italic "#C678DD" "#282C34"
    commit-decoration-style = bold box "#E5C07B" "#282C34"
    hunk-header-style = file line-number syntax
    hunk-header-line-number-style = box bold "#E5C07B"
    hunk-header-decoration-style = box bold "#61AFEF"
    line-numbers-left-format = " {nm:>3} │"
    line-numbers-right-format = " {np:>3} │"
    line-numbers-left-style = "#E06C75" "#282C34"        # left编号颜色
    line-numbers-right-style = "#98C379" "#282C34"       # right编号颜色
    line-numbers-minus-style = "#E06C75" "#282C34"       # - 编号颜色
    line-numbers-plus-style = "#98C379" "#282C34"        # + 编号颜色
    line-numbers-zero-style =  "#5A6374" "#282C34"       # 无修改编号颜色
    minus-empty-line-marker-style = minus-style
    plus-empty-line-marker-style = plus-style

    minus-style = bold "#E06C75" "#282C34" 
    minus-emph-style = bold "#FFFFFF" "#9A353D"
    minus-non-emph-style = bold "#E06C75" "#282C34"

    plus-style = bold "#98C379" "#282C34" 
    plus-emph-style = bold "#FFFFFF" "#109868" 
    plus-non-emph-style = bold "#8BC66F" "#282C34"

    zero-style = syntax normal
    blame-code-style = syntax
    blame-format = "{author:<18} ({commit:>9}) {timestamp:^16}"
    blame-palette = "#282c34" "#3B4252" "#434C5E" "#4C566A"
    merge-conflict-begin-symbol = ~
    merge-conflict-end-symbol = ~
    merge-conflict-ours-diff-header-style = "#E5C07B" bold
    merge-conflict-ours-diff-header-decoration-style = "#434C5E" box
    merge-conflict-theirs-diff-header-style = "#E5C07B" bold
    merge-conflict-theirs-diff-header-decoration-style = "#282C34" box
    whitespace-error-style = "#D7AF87" reverse

[diff]

    colorMoved = default
    
# ================================================================================================================================

[url "git@github.com:"]

    insteadOf     = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[url "git://github.com/"]

    insteadOf     = "github:"

[url "git@gist.github.com:"]

    insteadOf     = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]

    insteadOf     = "gist:"

[init]

    defaultBranch = main

