[alias]
    a      = add
    aa     = add -A
    b      = branch
    ba     = branch -a
    c      = commit -m
    ca     = commit -am
    co     = checkout
    lg     = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset'
    lga    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date = relative
    s      = status -sb
    sclone = clone --depth 1
    undo   = reset HEAD~1
    d      = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    di     = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
    dv     = difftool --tool=vimdiff -y
    dvs    = difftool --staged --tool=vimdiff -y
    dvc    = difftool --cached --tool=vimdiff -y
    ds     = diff --stat
    w      = whatchanged
    l      = log --graph --abbrev-commit --decorate=no --date=format:'%A %Y-%m-%d %H:%M:%S' --format=format:'%C(01)%>(1)%h%C(reset) - %C(07)%ad%C(reset)  %C(4)%<(13,trunc)%an%C(reset) | %C(2)%<(15,trunc)%ar%C(reset) | %C(1)%<(30,trunc)%d%C(reset) | %C(bold 7)%>|(1)%s%C(reset)' --all


[user]
    email = hantaotaohan@gmail.com 
    name  = hantaotaohan

[core]
    editor   = vim
    autocrlf = false
    pager    = delta
    ; pager    = diff-so-fancy | less --tabs=4 -RFX

[log]
    date = format:%A %Y-%m-%d %H:%M:%S

[merge]
    tool = diff3

[http]
    sslVerify = false

[color]
    ui   = always
    diff = always

[color "diff"]
    meta       = 5  0 bold
    commit     = 15 0 bold
    frag       = 5  0 bold
    old        = 1  0 bold
    new        = 2  0 bold
    whitespace = 3  0 reverse

[color "diff-highlight"]
    oldNormal    = 1 0 bold
    oldHighlight = 0 1 bold 
    newNormal    = 2 0 bold
    newHighlight = 0 2 bold

[color "branch"]
    current = yellow reverse
    local   = yellow
    remote  = green

[color "status"]
    added     = green
    changed   = yellow
    untracked = red

; [pager]
;     diff = diff-so-fancy | less --tabs=4 -RFX
;     show = diff-so-fancy | less --tabs=4 -RFX

[interactive]
    ; diffFilter = "diff-so-fancy --patch"
    diffFilter = delta --color-only

[diff-so-fancy]
    stripLeadingSymbols  = false
    changeHunkIndicators = true
    markEmptyLines       = false
    useUnicodeRuler      = true

[delta]
    syntax-theme = Nord
    features = interactive side-by-side onedark

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "onedark"]

    #author: https://github.com/AirOnSkin
    dark = true
    line-numbers = true
    side-by-side = false
    keep-plus-minus-markers = false
    syntax-theme = Nord
    file-style = "#61afef" bold
    file-decoration-style = "#61afef" ul
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [*]
    file-removed-label = [-]
    file-renamed-label = [->]
    commit-decoration-style ="#11ce16" box
    commit-style = "#ffd21a" bold italic
    hunk-header-style = omit
    hunk-header-line-number-style = bold "#003300"
    line-numbers-left-format = " {nm:>3} │"
    line-numbers-left-style = red
    line-numbers-right-format = " {np:>3} │"
    line-numbers-right-style = green
    line-numbers-minus-style = red black
    line-numbers-plus-style = green black
    line-numbers-zero-style = "#ABB2BF" "#282c34" bold
    minus-empty-line-marker-style = minus-style
    plus-empty-line-marker-style = plus-style
    minus-style = bold "#282c34" red
    minus-emph-style = bold "#282C34" "#98C379"
    minus-non-emph-style = bold
    plus-style = bold "#282c34" green
    plus-emph-style = bold "#282c34" "#E5c07b"
    plus-non-emph-style = bold
    zero-style = syntax
    blame-code-style = syntax
    blame-format = "{author:<18} ({commit:>9}) {timestamp:^16}"
    blame-palette = "#282c34" "#3B4252" "#434C5E" "#4C566A"
    merge-conflict-begin-symbol = ~
    merge-conflict-end-symbol = ~
    merge-conflict-ours-diff-header-style = "#E5c07b" bold
    merge-conflict-ours-diff-header-decoration-style = "#434C5E" box
    merge-conflict-theirs-diff-header-style = "#E5c07b" bold
    merge-conflict-theirs-diff-header-decoration-style = "#282C34" box
    whitespace-error-style = "#280050" reverse

[diff]
    colorMoved = default
    
[url "git@github.com:"]
    insteadOf     = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
    insteadOf = "github:"

[url "git@gist.github.com:"]
    insteadOf     = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
    insteadOf = "gist:"

[init]
    defaultBranch = main

