# ================================================================================================================================
#                                                                                                                                 
#                                                             Bashrc                                                            
#                                                                                                                                                                                                 
#                                                       Update: 2023.01.o6                                                      
#                                                                                                                                 
# ================================================================================================================================

# ================================================================================================================================
#                                                       GENERAL - Settings
# ================================================================================================================================

# 使补全忽略大小写
set completion-ignore-case on

# 禁用响铃
set bell-style none

# 禁止输出控制字符
set echo-control-characters off

# 启用多行粘贴模式
set enable-bracketed-paste on

# 完成时显示颜色，就像“ls-F”一样
set visible-stats on

# 一次显示所有自动完成结果
set page-completions on

# 补全时列出所有匹配项
set show-all-if-ambiguous on

# 当自动完成指向目录的符号链接时，立即在结尾添加斜杠
set mark-symlinked-directories off

# 除非模式以点显式开头，否则不要自动完成隐藏文件
set match-hidden-files on

# 如果一个单词有超过200个可能的补全词，要求把它们全部显示出来
set completion-query-items 200

# 自动补全时更智能，同时查看之后的文本
set skip-completed-text on

# 自动扩展波浪号
set expand-tilde on

# 补全匹配字符前缀部分
set colored-completion-prefix on
set completion-prefix-display-length 0

# 补全完成期间为可执行文件、目录等显示不同的颜色
set colored-stats on

# 禁用特殊字符
set bind-tty-special-chars off

# 允许 UTF8 输入和输出
set input-meta on
set output-meta on
set convert-meta off

# ================================================================================================================================
#                                                       KEYMAP - Settings
# ================================================================================================================================

# 使用已键入的文本作为搜索前缀(即更智能的上/下行为)
"\e[B": history-search-forward
"\e[A": history-search-backward

"\C-H": backward-word
"\C-L": forward-word
"\C-D": kill-word
"\C-w": backward-kill-word
"\C-[[1;2D": backward-word
"\C-[[1;2C": forward-word

# 使用 Alt/Meta+Delete 删除前面的单词
"\e[3;3~": kill-word

# F5 进入HOME
"\e[15~":"cd $HOME\C-m"

# ;q 退出bash
"\;q":"exit\C-m"

# \+g 进入navi
"\\g":"navi\C-m"

# CTRL+ALT+J,K 上下历史命令
# "\e\C-J": history-search-forward
# "\e\C-K": history-search-backward

# CTRL+ALT+M,N 删除单词
# "\e\C-M": kill-word
# "\e\C-N": backward-kill-word

# CTRL+Backspace > delete
# "\e\C-M": delete-char
# "\e\C-N": backward-delete-char

# "\e\C-H": backward-char
# "\e\C-L": forward-char
