! Project:    Onedark XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

!----------------------
! XFT Settings
!----------------------

Xft.dpi:            96
Xft.rgba:           rgb
Xft.antialias:      true
Xft.hinting:        true
Xft.autohint:       false
Xft.lcdfilter:      lcddefault
Xft.hintstyle:      hintslight

!----------------------
! URxvt OneDark Theme
!----------------------

URxvt.foreground:   #ABB2BF
URxvt.background:   #282C34
URxvt.cursorColor:  #ABB2BF

! black
URxvt.color0:       #282C34
URxvt.color8:       #3E4452

! red
URxvt.color1:       #E06C75
URxvt.color9:       #BE5046

! green
URxvt.color2:       #98C379
URxvt.color10:      #98C379

! yellow
URxvt.color3:       #E5C07B
URxvt.color11:      #D19A66

! blue
URxvt.color4:       #61AFEF
URxvt.color12:      #61AFEF

! magenta
URxvt.color5:       #C678DD
URxvt.color13:      #C678DD

! cyan
URxvt.color6:       #56B6C2
URxvt.color14:      #56B6C2

! white
URxvt.color7:       #5C6370
URxvt.color15: 	    #ABB2BF

!----------------------
! URxvt Settings
!----------------------

! 字间距
URxvt.letterSpace:       0

! 上下左右边距
URxvt.internalBorder:    10
!URxvt.externalBorder:    10

! 无焦点时淡化屏幕
URxvt*fading:            10

! 边框
URxvt.borderLess:        False

! 滚动条设置
URxvt.scrollBar:         False

! 输入法
URxvt.inputMethod:       fcitx

! 跳转输入区域
URxvt.jumpScroll:        True

! 关闭响铃
URxvt.urgentOnBell:      False

! 关闭响铃
URxvt.visualBell:        False

! 覆盖
urxvt.override-redirect: False

! 取消边框
urxvt.borderLess:        False

! 英文字体
URxvt.font:              xft:Iosevka Term:size=10.5:style=bold:antialias=true:autohint:true

! 中文字体
URxvt.boldfont:          xft:Saber:size=10.5:style=bold:antialias=true:autohint:true

! 输入配置
URxvt.iso14755:               false
URxvt.iso14755_52:            false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c:  builtin-string:
URxvt.keysym.Control-Meta-v:  builtin-string:

!----------------------
! St Settings
!----------------------

st.foreground:               #ABB2BF
st.background:               #282C34
st.cursorColor:              #ABB2BF
st.color0:                   #282C34
st.color8:                   #3E4452
st.color1:                   #E06C75
st.color9:                   #E06C75
st.color2:                   #98C379
st.color10:                  #98C379
st.color3:                   #E5C07B
st.color11:                  #D19A66
st.color4:                   #61AFEF
st.color12:                  #61AFEF
st.color5:                   #C678DD
st.color13:                  #C678DD
st.color6:                   #56B6C2
st.color14:                  #56B6C2
st.color7:                   #ABB2BF
st.color15:                  #5C6370

st.termname:                 xterm-256color
st.borderless:               0
st.font:                     Saber:size=10.5:antialias=true:autohint:true
st.borderpx:                 10
st.cursorshape:              0
st.cursorthickness:          0
st.cursorblinkstyle:         0
st.cursorblinkontype:        0
st.disablebold:              1
st.disableitalics:           1
st.disableroman:             1
st.scrollrate:               3
st.chscale:                  1.0
st.cwscale:                  1.0
st.blinktimeout:             300
st.bellvolume:               0
st.boxdraw:                  1
st.boxdraw_bold:             1
st.boxdraw_braille:          0
st.depth:                    0
st.opacity:                  255
st.disable_alpha_correction: 1

!----------------------
! Xterm Settings 
!----------------------
Xterm.vt100*directColor             :       true
XTerm.vt100*termName                :       xterm-256color
XTerm.vt100*locale                  :       true
XTerm.vt100*cursorBlink             :       true
XTerm.vt100*activeIcon              :       false
XTerm.vt100*reverseVideo            :       off
XTerm.vt100*pointerColor            :       #16A085
XTerm.vt100*cursorColor             :       #61AFEF
XTerm.vt100*loginShell              :       false
XTerm.vt100*renderFont              :       true 
XTerm.vt100*dynamicColors           :       false
XTerm.vt100*fading                  :       10

XTerm.vt100*utf8                    :       2
XTerm.vt100*eightBitInput           :       true
XTerm.vt100*faceName                :       xft:Iosevka Term:style=bold:antialias=true:autohint:true
XTerm.vt100*faceNameDoublesize      :       xft:Saber:antialias=true:autohint:true
XTerm.vt100*internalBorder          :       10
XTerm.vt100*faceSize                :       10.5

XTerm.vt100*saveLines               :       5000
XTerm.vt100*scrollTtyKeypress       :       true
XTerm.vt100*scrollTtyOutput         :       true
XTerm.vt100*bellIsUrgent            :       false
XTerm.vt100*altSendsEscape          :       false
XTerm.vt100*metaSendsEscape         :       false

XTerm.vt100*foreground              :       #ABB2BF
XTerm.vt100*background              :       #282C34
XTerm.vt100*color0                  :       #282C34
XTerm.vt100*color8                  :       #3E4452
XTerm.vt100*color1                  :       #E06C75
XTerm.vt100*color9                  :       #BE5046
XTerm.vt100*color2                  :       #98C379
XTerm.vt100*color10                 :       #98C379
XTerm.vt100*color3                  :       #E5C07B
XTerm.vt100*color11                 :       #D19A66
XTerm.vt100*color4                  :       #61AFEF
XTerm.vt100*color12                 :       #61AFEF
XTerm.vt100*color5                  :       #C678DD
XTerm.vt100*color13                 :       #C678DD
XTerm.vt100*color6                  :       #56B6C2
XTerm.vt100*color14                 :       #56B6C2
XTerm.vt100*color7                  :       #5C6370
XTerm.vt100*color15                 :       #ABB2BF

!------------- copy-paste ----------------------!
XTerm.vt100*selectToClipboard: true
XTerm.vt100*translations: #override \
        Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
        Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
        Ctrl <Key> minus: smaller-vt-font() \n\
        Ctrl <Key> plus: larger-vt-font() \n\
        Ctrl <Key> 0: set-vt-font(d)

!----------------------
! Sxiv
!----------------------

Sxiv.font: Saber:size=10.5
Sxiv.foreground: #ABB2BF
Sxiv.background: #282C34
