! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Onedark XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

!----------------------
! OneDark Theme
!----------------------
*.foreground:   #ABB2BF
*.background:   #282C34
*.cursorColor:  #ABB2BF

! black
*.color0:       #282C34
*.color8:       #3E4452

! red
*.color1:       #E06C75
*.color9:       #BE5046

! green
*.color2:       #98C379
*.color10:      #98C379

! yellow
*.color3:       #E5C07B
*.color11:      #D19A66

! blue
*.color4:       #61AFEF
*.color12:      #61AFEF

! magenta
*.color5:       #C678DD
*.color13:      #C678DD

! cyan
*.color6:       #56B6C2
*.color14:      #56B6C2

! white
*.color7:       #5C6370
*.color15: 	    #ABB2BF

!----------------------
! Settings
!----------------------
! 边框
*.borderLess:False

! 滚动条设置
*.scrollBar:False

! 字体设置
Xft.dpi:96

! 英文字体
! URxvt.font:xft:Inziu Iosevka SC:size=10:style=Bold:antialias=true
URxvt.font:xft:Inziu Iosevka SC:size=10:style=Bold:antialias=true

! 中文字体
! URxvt.boldfont:xft:Saber:size=10:style=Bold:antialias=true
URxvt.boldfont:xft:Saber:size=10:style=Bold:antialias=true

! 输入法
*inputMethod:fcitx

!----------------------
! St 
!----------------------
!
st.termname:                 xst-256color
st.borderless:               0
st.font:                     Saber:size=10.5:antialias=true:autohint:true
st.borderpx:                 10
st.cursorshape:              1
st.cursorthickness:          2
st.cursorblinkstyle:         0
st.cursorblinkontype:        1
st.disablebold:              1
st.disableitalics:           1
st.disableroman:             1
st.scrollrate:               3
st.chscale:                  1.0
st.cwscale:                  1.0
st.blinktimeout:             300
st.bellvolume:               100
st.boxdraw:                  1
st.boxdraw_bold:             1
st.boxdraw_braille:          1
st.depth:                    0
st.opacity:                  255
st.disable_alpha_correction: 1

st.foreground:               #ABB2BF
st.background:               #282C34
st.color0:                   #282C34
st.color8:                   #3E4452
st.color1:                   #E06C75
st.color9:                   #BE5046
st.color2:                   #98C379
st.color10:                  #98C379
st.color3:                   #E5C07B
st.color11:                  #D19A66
st.color4:                   #61AFEF
st.color12:                  #61AFEF
st.color5:                   #C678DD
st.color13:                  #C678DD
st.color6:                   #56B6C2
st.color14:                  #56B6C2
st.color7:                   #5C6370
st.color15:                  #ABB2BF
st.color16:                  #cda869
st.color17:                  #9b703f
st.color18:                  #323537
st.color19:                  #464b50
st.color20:                  #838184
st.color21:                  #c3c3c3
